[Unit]
Description=Self Web Bot (Public Mode)
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/bots
ExecStart=/usr/bin/python3 /home/bots/self_web.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
